<div class="bar bar-standard bar-footer">
    <a href="#config" class="icon icon-gear pull-right"></a>
    <div><p class="pull-left">&copy; 2016 wildbits.github.io - Fingerboard Chart </p></div>
</div>
<div class="content">
    <div class="main-card card">
        <ul class="table-view scale">
            <li class="table-view-cell">
                <div>
                    <table style="width:100%">
                        <tr>
                            <td>
                                <div class="fingerboard-container"></div>
                            </td>
                            <td class="scale-details-container">
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>