<select name="<%=json.name%>" class="select-<%=json.name%>">

    <% var value = (typeof json.data === 'object') ? json.data.value : json.data ; %>
    <% value = (value) ? value : ((typeof json.default === 'object') ? json.default.value : json.default) ; %>

    <% for (var i = 0 ; i < json.values.length ; i++) { %>

        <% var optionName  = json.values[i].name ; %>
        <% var optionValue = json.values[i].value; %>

        <% var selected = (optionValue == value) ? 'selected' : ''; %>

        <option value="<%=optionName%>" <%=selected%>>
            <%=optionValue%>
        </option>
    <% } %>
</select>
